version: '3.1'
services:
  gitaly:
    environment:
      - GITALY_TESTING_NO_GIT_HOOKS=1
    image: registry.gitlab.com/gitlab-org/build/cng/gitaly:latest
    ports:
      - '8075:8075'

  elasticsearch:
    environment:
      - discovery.type=single-node
    image: elasticsearch:7.9.2
    ports:
      - '9201:9200'
